[submodule "pack/dk/start/vim-fugitive"]
	path = pack/dk/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/dk/start/vim-surround"]
	path = pack/dk/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/dk/start/vim-vinegar"]
	path = pack/dk/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/dk/start/tender.vim"]
	path = pack/dk/start/tender.vim
	url = https://github.com/jacoborus/tender.vim
[submodule "pack/dk/start/vim-colorschemes"]
	path = pack/dk/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "pack/dk/start/nofrils"]
	path = pack/dk/start/nofrils
	url = https://github.com/robertmeta/nofrils
[submodule "pack/dk/start/base16-vim"]
	path = pack/dk/start/base16-vim
	url = https://github.com/chriskempson/base16-vim/
[submodule "pack/dk/start/tabular"]
	path = pack/dk/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/dk/start/Color-Scheme-Explorer"]
	path = pack/dk/start/Color-Scheme-Explorer
	url = https://github.com/vim-scripts/Color-Scheme-Explorer
[submodule "pack/dk/start/vim-unimpaired"]
	path = pack/dk/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/dk/start/purescript-vim"]
	path = pack/dk/start/purescript-vim
	url = https://github.com/purescript-contrib/purescript-vim
[submodule "pack/dk/start/psc-ide-vim"]
	path = pack/dk/start/psc-ide-vim
	url = https://github.com/FrigoEU/psc-ide-vim/
[submodule "pack/dk/start/vim-toml"]
	path = pack/dk/start/vim-toml
	url = https://github.com/cespare/vim-toml
