[submodule "pack/dk/start/vim-fugitive"]
	path = pack/dk/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/dk/start/vim-surround"]
	path = pack/dk/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/dk/start/vim-vinegar"]
	path = pack/dk/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/dk/start/tender.vim"]
	path = pack/dk/start/tender.vim
	url = https://github.com/jacoborus/tender.vim
[submodule "pack/dk/start/vim-colorschemes"]
	path = pack/dk/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "pack/dk/start/nofrils"]
	path = pack/dk/start/nofrils
	url = https://github.com/robertmeta/nofrils
[submodule "pack/dk/start/base16-vim"]
	path = pack/dk/start/base16-vim
	url = https://github.com/chriskempson/base16-vim/
